<div class="page-container">
    <mat-card class="login-card">
        <h3 class="login-text">Welcome to SASMA!</h3>

        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Login">
                <form class="login-page-form" [formGroup]="loginForm">
                    <mat-form-field class="email-field">
                        <input matInput type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="password-field">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>
                </form>
                <div class="text-center">
                    <button mat-flat-button (click)="loginClicked()" [disabled]="loading$$ | async" class="login-button" color="primary">Login
                    </button>
                </div>
                <!--<pre>-->
                <!--{{loginForm.value |json}}-->
                <!--</pre>-->
            </mat-tab>
            <mat-tab label="Register">
                <form class="login-page-form" [formGroup]="registerForm">
                    <mat-form-field class="email-field">
                        <input matInput type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="password-field">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="password-field">
                        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    </mat-form-field>
                </form>
                <div class="text-center">
                    <button mat-flat-button (click)="registerClicked()" class="register-button" color="primary">Register
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>

