<div class="landing-page-container"></div>

<div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">About Us</a>
    <a href="#contact">For Staff</a>
    <a href="#home">Admin</a>
    <a href="#news">For Students</a>
    <a href="#contact">Subscription</a>
    <a href="#home">Demo</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
</div>
<div class="hero-image">
    <div class="hero-text">
        <h1>Super Awesome Student Management App</h1>
        <p>Simple. Intuitive. Efficient. </p>
        <button>Call us today!</button>
    </div>
</div>

<div class="blockquote-footer">
    <a>Developed by Super Awesome Student Management App Team</a>
</div>