<div class="student-profile-container">
    <div class="row">
        <mat-card class="registration-card">
            <mat-card-title>Registration Status</mat-card-title>
            <button mat-flat-button color="accent" class="apply-button"><mat-icon>school</mat-icon>Apply</button>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                    <mat-list-item role="listitem">Item 2</mat-list-item>
                    <mat-list-item role="listitem">Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row multi-card-row">
        <mat-card class="profile-info-card">
            <mat-card-title>Info</mat-card-title>
            <mat-card-content>
                <ng-container *ngIf="student | async as st; else spinner">
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <mat-icon matListIcon>person</mat-icon>
                            <h2 class="line-header" matLine>Name</h2>
                            <p matLine>
                                {{ st?.firstName }} {{ st?.lastName }}
                            </p>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <mat-icon matListIcon>mail</mat-icon>
                            <h2 class="line-header" matLine>Email</h2>
                            <p matLine>
                                {{ st?.email }}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Another card</mat-card-title>
            <mat-card-content>
                More stuff...
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #spinner>
    <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>
