.student-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.row {
  margin-bottom: 16px;
  align-self: stretch;
  max-width: 800px;
}

.multi-card-row {
  display: flex;
  &>* {
    flex: 1 0 auto;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.registration-card {
  mat-card-title {
    display: inline-block;
  }
  .apply-button {
    float: right;
    mat-icon {
      margin-right: 8px;
    }
  }
}