<div class="student-profile-container">
    <div class="row">
        <mat-card class="registration-card">
            <mat-card-title>Registration Status</mat-card-title>
            <button mat-flat-button color="accent" class="apply-button"><mat-icon>school</mat-icon>Apply</button>
            <mat-card-content>
                <table mat-table *ngIf="studentTermData | async as std; else spinner" [dataSource]="std">
                    <ng-container matColumnDef="institution">
                        <th mat-header-cell *matHeaderCellDef>Institution</th>
                        <td mat-cell *matCellDef="let data"> {{data?.institution}} </td>
                    </ng-container>
                    <ng-container matColumnDef="term">
                        <th mat-header-cell *matHeaderCellDef>Term</th>
                        <td mat-cell *matCellDef="let data"> {{data?.term}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Enrollment Status</th>
                        <td mat-cell *matCellDef="let data"> {{data?.enrollmentStatus}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row multi-card-row">
        <mat-card class="profile-info-card">
            <mat-card-title>Info</mat-card-title>
            <mat-card-content>
                <ng-container *ngIf="student | async as st; else spinner">
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <mat-icon matListIcon>person</mat-icon>
                            <h2 class="line-header" matLine>Name</h2>
                            <p matLine>
                                {{ st?.firstName }} {{ st?.lastName }}
                            </p>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <mat-icon matListIcon>mail</mat-icon>
                            <h2 class="line-header" matLine>Email</h2>
                            <p matLine>
                                {{ st?.email }}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Documents</mat-card-title>
            <mat-card-content>
                More stuff...
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #spinner>
    <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>
